@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---- colors----*/
.bg-heading {
    background-color:#676767;
}

.bg-menu-oreng{
    background-color:#e67e22;
}

.bg-menu-purple{
    background-color:#9b59b6;
}
.bg-menu-blue{
    background-color:#3498db;
}
.bg-menu-grey{
    background-color:#525252;
}

/*---- header----*/
header {
    margin: 0;
}

.logo {
    background-image: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.heading {
    margin-left:35px;
}

.name{
    font-family:"Exo", sans-serif;
    font-weight:100;
    font-size:46px;
    margin-top:50px;
    color:#fff;
    
}

.title{
    font-family:"Roboto", sans-serif;
    font-weight:200;
    font-size:26px;
    margin-top:20px;
    margin-bottom:90px;
    color:#fff;
}

.list-inline-item:not(:last-child) {
    margin:0 !important;
}

header nav ul {
    font-size:0px;
}
header nav ul li.list-inline-item {
    font-size:16px;
    text-align:center; 
    padding:0;
}
header nav ul li a {
    padding:60px 0;
    display:block;
    color:#fff;
    text-decoration:none;
    width:100%;
}
header nav ul li a {
  text-decoration:none !important;
}


header nav ul li a i{
   font-size:26px;
   display:block !important;
   color:#fafafa;
}

header nav ul li a span {
    display:block;
    padding-top:5px;
    text-transform:uppercase;
    font-size:14px;
    font-weight:300;
    letter-spacing:2px;
}

/*---- Hover.css----*/
.hvr-sweep-to-bottom:before {
    background-color:rgba(0, 0, 0, 0.2) !important;
}

/*---- Footer ----*/
footer{
    background-color:#525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 25px 36px !important;
}

footer h5 {
    font-family:"Exo", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}
footer p {
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

footer ul li a {
    color: #fafafa;
    background-color: #676767;
    border-radius: 50px;
    font-size: 12px;
    height: 32px;
    width: 32px;
    display: block;
    line-height: 32px;
    text-align: center;
    transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}
footer ul li a:hover{
    color:#fafafa;
    background-color:#e67e22;
}

.download-pdf {
    color:#fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.download-pdf:hover {
    color:#e67e22;
}

